# this file used only for installing pinned packages for testing only! please do not install using this manually!
ase==3.27.0
ase-db-backends==0.11.0
e3nn==0.6.0
huggingface-hub==1.4.1
setuptools<81.0.0
torch==2.8.0
torchtnt==0.2.4
numba==0.63.1
numpy==2.2.5
scikit-learn==1.7.2
lmdb==1.6.2
pymatgen==v2025.10.7
ray[serve]==2.54.0
ipykernel==7.2.0
jupyter_book==2.1.2
pytest-xdist==3.8.0
